.col-name{
	text-align: center;
}
.col-short-description{
	text-align: center;
}

.post-password-form {
	display:flex;
	flex-direction: column;
	height: 100vh;
	justify-content:center;
	align-items: center;
	color: #FFFFFF;
	position: relative;
	background-color: #2C2F39; 
	overflow: hidden;
}
.post-password-form p {
	margin: 2em 0;
	font-size: 1.1em;
	display: flex;
	justify-content: center;
	gap: 1em;
}

input[name=Submit]{
	background-color: #D1AA68;
	color: #FFFFFF;
	border: solid 1px #D1AA68
}

input[name=Submit]:hover{
	background-color: #2C2F39;
	color: #FFFFFF;
	border: solid 1px #D1AA68
}

input[name=post_password]{
	background-color: #BCBDC0;
}

#wrapping-div{
	background-color: #333333;
	width: 30%;
	border: solid 1px #BCBDC0;
	padding: 2em;
	margin-top: 1.5em;
	margin-bottom: 12em;
}

#wrapping-div p:nth-child(1){
	text-align: center;
}

#logo-img {
	width: 18%;
	padding: 0 1.2em 1.2em 1.2em;
}

#logo-img-corner{
	width: 22%;
	position: fixed;
	left: -14em;
	bottom: -19em;
}

/*-------------------------------------*/

@media (max-width: 1600px){
	#logo-img-corner{
		left: -9em;
		bottom: -12em;
	}
}

@media (max-width: 1200px){
	#wrapping-div{
		width: 40%;
	}
	#logo-img{
		width: 22%;
	}
	#logo-img-corner{
		left: -7em;
		bottom: -10em;
	}
}

@media (max-width: 900px){
	#wrapping-div{
		width: 60%;
	}
	#logo-img{
		width: 50%;
	}
	#logo-img-corner{
		width: 28%;
		left: -7em;
		bottom: -9em;
	}
}

@media (max-width: 600px){
	#wrapping-div{
		width: 90%;
	}
	#logo-img{
		width: 60%;
	}
	#logo-img-corner{
		width: 32%;
		left: -5em;
		bottom: -6.2em;
	}
}
