/*---------------------------------------------CSS for price list---------------------------*/

.message{
	text-align: center;
}


/*hides empty filters*/
.empty-filter{
	display: none !important;
}

/*change layout of washbasing collection*/
.washbasin-collections .jet-color-image-list__button{
	flex-direction: column !important;
	gap: 8px !important;
}

.sections-price-list{
	scroll-margin-top: 18em;
}

#see-more-colection-button {
	display:none;		
}

.loading-spinner{
	display: none;
	justify-content: center;
}

.logo-loading-spinner {
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(359deg);
    }
}

/*-------phones----*/

.main-filter-container{
	height: 95vh !important;
    overflow-y: scroll !important;
}

.toggle-filters{
	display: none;
}

@media (max-width: 1530px){
	.main-filter-container{
		width: 20% !important;
		background-color: #00000026;
		flex-direction: row !important;
		height: 100% !important;
		position: fixed !important;
		top:0 !important;
		left: 0 !important;
		z-index: 20 !important;
		transform: translateX(-100%) !important;
		overflow-y: auto !important;
	}
	.active-filter {
		transform: translateX(0) !important;
	}
	.active-button{
		background-color: #F4F5F3 !important;
		color: #fc5b5b !important;
	}

	/* back button */
	.main-filter-container > .e-child {
		display: none;
	}

	.main-filter-container > .elementor-widget-eael-adv-accordion{
		flex-basis: 100%;
	}
	.title-menu-container{
		z-index: 10 !important;
	}
	.toggle-filters{
		display: block;
		position: fixed !important;
		bottom: 110px;
		right: 0;
	}
}


@media (max-width: 1200px){
	.main-filter-container{
		width: 30% !important;
	}
}


@media (max-width: 750px){
	.main-filter-container{
		width: 65% !important;
	}
}

